<!DOCTYPE HTML>
<!-- vim: set foldmarker=[[[,]]]: -->
<html lang="it">
    <!-- head [[[ -->
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">

        <title>Linux Day 2013 - Barletta - 404</title>

        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta name="description" content="Linux Day 2013 a Barletta. Install fest, divertimento ed innovazione al party nazionale dedicato a GNU/Linux.">

        <!-- Styles [[[ -->
        <link href="assets/css/404.css" rel="stylesheet" type="text/css">
        {% include fonts.html %}
        <!-- /Styles ]]] -->

        {% include icons.html %}

        <!-- Scripts [[[ -->
        <!--[if lt IE 9]>
        <script src="http://html5shim.googlecode.com/svn/trunk/html5.js">
        </script>
        <![endif]-->
        <script src="http://ajax.googleapis.com/ajax/libs/jquery/{{ site.jquery }}/jquery.min.js" type="text/javascript" charset="utf-8">
        </script>
        <script src="assets/js/404.js" type="text/javascript" charset="utf-8">
        </script>
        <!-- /Scripts ]]] -->
    </head>
    <!-- /head ]]] -->
    <!-- body [[[ -->
    <body>
        <div id="top"></div>
        <div id="tux"></div>
        <div id="surf"></div>
        <div id="text">
            <h1>404</h1>
            <p>Non c'è niente qui!</p>
        </div>
        <div id="paw">
            <a href="/"><img src="assets/img/zampa.png" alt="Linux Day Barletta - Homepage"></a>
        </div>
    </body>
    <!-- /body ]]] -->
</html>
