<optgroup label="Barletta-Andria-Trani">
    <option value="Andria">Andria</option>
    <option value="Barletta">Barletta</option>
    <option value="Bisceglie">Bisceglie</option>
    <option value="Canosa di Puglia">Canosa di Puglia</option>
    <option value="Margherita di Savoia">Margherita di Savoia</option>
    <option value="Minervino Murge">Minervino Murge</option>
    <option value="San Ferdinando di Puglia">San Ferdinando di Puglia</option>
    <option value="Spinazzola">Spinazzola</option>
    <option value="Trani">Trani</option>
    <option value="Trinitapoli">Trinitapoli</option>
</optgroup>
<optgroup label="Bari">
    <option value="Acquaviva delle Fonti">Acquaviva delle Fonti</option>
    <option value="Adelfia">Adelfia</option>
    <option value="Alberobello">Alberobello</option>
    <option value="Altamura">Altamura</option>
    <option value="Bari">Bari</option>
    <option value="Binetto">Binetto</option>
    <option value="Bitetto">Bitetto</option>
    <option value="Bitonto">Bitonto</option>
    <option value="Bitritto">Bitritto</option>
    <option value="Capurso">Capurso</option>
    <option value="Casamassima">Casamassima</option>
    <option value="Cassano delle Murge">Cassano delle Murge</option>
    <option value="Castellana Grotte">Castellana Grotte</option>
    <option value="Cellamare">Cellamare</option>
    <option value="Conversano">Conversano</option>
    <option value="Corato">Corato</option>
    <option value="Gioia del Colle">Gioia del Colle</option>
    <option value="Giovinazzo">Giovinazzo</option>
    <option value="Gravina in Puglia">Gravina in Puglia</option>
    <option value="Grumo Appula">Grumo Appula</option>
    <option value="Locorotondo">Locorotondo</option>
    <option value="Modugno">Modugno</option>
    <option value="Mola di Bari">Mola di Bari</option>
    <option value="Molfetta">Molfetta</option>
    <option value="Monopoli">Monopoli</option>
    <option value="Noci">Noci</option>
    <option value="Noicàttaro">Noicàttaro</option>
    <option value="Palo del Colle">Palo del Colle</option>
    <option value="Poggiorsini">Poggiorsini</option>
    <option value="Polignano a Mare">Polignano a Mare</option>
    <option value="Putignano">Putignano</option>
    <option value="Rutigliano">Rutigliano</option>
    <option value="Ruvo di Puglia">Ruvo di Puglia</option>
    <option value="Sammichele di Bari">Sammichele di Bari</option>
    <option value="Sannicandro di Bari">Sannicandro di Bari</option>
    <option value="Santeramo in Colle">Santeramo in Colle</option>
    <option value="Terlizzi">Terlizzi</option>
    <option value="Toritto">Toritto</option>
    <option value="Triggiano">Triggiano</option>
    <option value="Turi">Turi</option>
    <option value="Valenzano">Valenzano</option>
</optgroup>
<optgroup label="Foggia">
    <option value="Acquaviva delle Fonti">Acquaviva delle Fonti</option>
    <option value="Accadia">Accadia</option>
    <option value="Alberona">Alberona</option>
    <option value="Anzano di Puglia">Anzano di Puglia</option>
    <option value="Apricena">Apricena</option>
    <option value="Ascoli Satriano">Ascoli Satriano</option>
    <option value="Biccari">Biccari</option>
    <option value="Bovino">Bovino</option>
    <option value="Cagnano Varano">Cagnano Varano</option>
    <option value="Candela">Candela</option>
    <option value="Carapelle">Carapelle</option>
    <option value="Carlantino">Carlantino</option>
    <option value="Carpino">Carpino</option>
    <option value="Casalnuovo Monterotaro">Casalnuovo Monterotaro</option>
    <option value="Casalvecchio di Puglia">Casalvecchio di Puglia</option>
    <option value="Castelluccio dei Sauri">Castelluccio dei Sauri</option>
    <option value="Castelluccio Valmaggiore">Castelluccio Valmaggiore</option>
    <option value="Castelnuovo della Daunia">Castelnuovo della Daunia</option>
    <option value="Celenza Valfortore">Celenza Valfortore</option>
    <option value="Celle di San Vito">Celle di San Vito</option>
    <option value="Cerignola">Cerignola</option>
    <option value="Chieuti">Chieuti</option>
    <option value="Deliceto">Deliceto</option>
    <option value="Faeto">Faeto</option>
    <option value="Foggia">Foggia</option>
    <option value="Ischitella">Ischitella</option>
    <option value="Isole Tremiti">Isole Tremiti</option>
    <option value="Lesina">Lesina</option>
    <option value="Lucera">Lucera</option>
    <option value="Manfredonia">Manfredonia</option>
    <option value="Mattinata">Mattinata</option>
    <option value="Monte Sant'Angelo">Monte Sant'Angelo</option>
    <option value="Monteleone di Puglia">Monteleone di Puglia</option>
    <option value="Motta Montecorvino">Motta Montecorvino</option>
    <option value="Ordona">Ordona</option>
    <option value="Orsara di Puglia">Orsara di Puglia</option>
    <option value="Orta Nova">Orta Nova</option>
    <option value="Panni">Panni</option>
    <option value="Peschici">Peschici</option>
    <option value="Pietramontecorvino">Pietramontecorvino</option>
    <option value="Poggio Imperiale">Poggio Imperiale</option>
    <option value="Rignano Garganico">Rignano Garganico</option>
    <option value="Rocchetta Sant'Antonio">Rocchetta Sant'Antonio</option>
    <option value="Rodi Garganico">Rodi Garganico</option>
    <option value="Roseto Valfortore">Roseto Valfortore</option>
    <option value="San Giovanni Rotondo">San Giovanni Rotondo</option>
    <option value="San Marco in Lamis">San Marco in Lamis</option>
    <option value="San Marco la Catola">San Marco la Catola</option>
    <option value="San Nicandro Garganico">San Nicandro Garganico</option>
    <option value="San Paolo di Civitate">San Paolo di Civitate</option>
    <option value="San Severo">San Severo</option>
    <option value="Sant'Agata di Puglia">Sant'Agata di Puglia</option>
    <option value="Serracapriola">Serracapriola</option>
    <option value="Stornara">Stornara</option>
    <option value="Stornarella">Stornarella</option>
    <option value="Torremaggiore">Torremaggiore</option>
    <option value="Troia">Troia</option>
    <option value="Vico del Gargano">Vico del Gargano</option>
    <option value="Vieste">Vieste</option>
    <option value="Volturara Appula">Volturara Appula</option>
    <option value="Volturino">Volturino</option>
    <option value="Zapponeta">Zapponeta</option>
</optgroup>
<optgroup label="Altre province">
    <option value="Altro">Non presente nella lista</option>
</optgroup>
