<div class="panel panel-info">
    <div class="panel-heading">
        <h3 class="panel-title">Iscriviti!</h3>
        <p class="panel-p" style="display:none"></p>
    </div>
    <div class="panel-body" style="padding:30px 20px">
        <div class="row">
            <div class="col-md-1 col-lg-2"></div>
            <div id="form-div" class="col-md-10 col-lg-8">
                {% include form.html %}
            </div>
            <div class="col-md-1 col-lg-2"></div>
        </div>
    </div>
</div>
