<form role="form" id="form" autocomplete="on">
    <div class="form-group">
        <label class="control-label" for="firstname">Nome</label>
        <input type="text" class="form-control" id="firstname" placeholder="Nome" name="firstname" required>
    </div>

    <div class="form-group">
        <label class="control-label" for="lastname">Cognome</label>
        <input type="text" class="form-control" id="lastname" placeholder="Cognome" name="lastname" required>
    </div>

    <div class="form-group">
        <label class="control-label" for="city">Comune di provenienza</label>
        <select class="form-control" id="city" name="city" required>
            <option value="">Seleziona...</option>
            {% include comuni.html %}
        </select>
    </div>

    <div class="form-group" style="display: none">
        <label class="control-label" for="city-other">Comune non nella lista</label>
        <input type="text" class="form-control" id="city-other" placeholder="Città" name="cityother" disabled required>
    </div>

    <div class="form-group">
        <label class="control-label popover-on" for="partecipazione" rel="popover" data-trigger="hover" data-content="Chiunque può partecipare all'evento, anche i più esperti, mettendo a disposizione le proprie competenze ed esponendo le proprie idee!">Come intendi partecipare? <sup class="muted info-pop"><code>i</code></sup></label>
        <select class="form-control" id="partecipazione" name="partecipazione" required>
            <option value="">Seleziona...</option>
            <option value="Novizio">Vorrei ricevere aiuto durante l'installazione</option>
            <option value="Competente">Mi piacerebbe collaborare con i più esperti</option>
            <option value="Interessato">Sono interessato solo a saperne di più</option>
        </select>
    </div>

    <div class="form-group">
        <label class="control-label popover-on" for="email" rel="popover" data-trigger="hover" data-original-title="Per cosa lo usiamo?" data-content="Potremmo volerti contattare per avvisi o comunicazioni. Assicurati che sia corretto!">Indirizzo email <sup class="muted info-pop"><code>i</code></sup></label>
        <!-- <div class="input-group"> -->
        <!--     <span class="input-group-addon ampersat">@</span> -->
            <input type="email" class="form-control" id="email" placeholder="email" name="email" required>
        <!-- </div> -->
    </div>

    <div class="form-group">
        <label class="control-label" for="how">Come sei venuto a conoscenza dell'evento?</label>
        <select class="form-control" id="how" name="how" required>
            <option value="">Seleziona...</option>
            <option value="LinuxDay">Dal sito www.linuxday.it</option>
            <option value="Carta">Pubblicità cartacea</option>
            <option value="Media">Mezzi d'informazione</option>
            <option value="Social">Social networks</option>
            <option value="Ricerca">Tramite una ricerca online</option>
            <option value="Voci">Attraverso amici, ne ho sentito parlare in giro</option>
        </select>
    </div>

    <div class="form-group">
        <label class="control-label" for="dvd">Il tuo computer è provvisto di lettore DVD?</label>
        <select class="form-control" id="dvd" name="dvd" required>
            <option value="">Seleziona...</option>
            <option value="No">No</option>
            <option value="Si">Sì</option>
        </select>
    </div>

    <p><small>Compilando il modulo di iscrizione dai il consenso al trattamento dei dati immessi da parte di Puglia Software Open Source. I dati non saranno ceduti a terzi né pubblicati.</small></p>

    <button type="submit" data-loading-text="Attendi..." class="btn btn-lg btn-default" style="margin-top:10px"><b>Invia!</b></button>
</form>
