<div class="navbar-wrapper">
    <div class="container">
        <div class="navbar navbar-inverse">
            <div class="navbar-inner">
                <button type="button" class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="brand hidden-phone" href="index.html">Linux Day Barletta 2013</a>
                <a class="brand visible-phone" href="index.html">LD13 Barletta</a>
                <div class="nav-collapse collapse">
                    {% include navbar_list.html %}
                </div>
            </div>
        </div>
    </div>
</div>
